/* --------------- reset.css --------------- */
html, body, div, span, h1, h2, h3, h4, h5, h6, p, em, img, strong, sub, sup, b, u, i,  dl, dt, dd, ol, ul, li, fieldset, form, label, table, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;                               /* обнуляем отступы и убираем бордюры */
	vertical-align: baseline;          /* приводим все к одной базовой линии */
	background: transparent;      /* чтобы не проскакивали левые фоны, установленные по умолчанию */
	font-size: 100%;                     /* размер шрифта всем одинаковый */
}
a {                                      	     /* ссылка не в общем списке чтобы не сбрасывать outline по умолчанию */
	font-size:100%;
	vertical-align:baseline;
	background:transparent;
	outline:none;
}
table {						/* устраняем отступы между ячейками таблицы */
	border-collapse: collapse; 
	border-spacing: 0;
}
td, td img {
	vertical-align: top;			/* возвращаем привычное вертикальное выравнивание */
}
input, textarea {
    border: 0;
}
input[type="checkbox"] { 		/* вертикальное выравнивание чекбоксов и радиобатонов относительно меток */
	vertical-align: bottom;
}
input[type="radio"] {
	vertical-align: text-bottom;
}
sub {
	vertical-align: sub;
	font-size: smaller;
}
sup {
	vertical-align: super;
	font-size: smaller;
}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display:block;
}
nav ul {
	 list-style:none;
}
/* --------------- /reset.css --------------- */

/* --------------- базовые настройки ---------*/
html {
	min-height:100%; /* всегда показываем вертикальную полосу прокрутки  */
}
body {
	color: #000;
	text-align: left;
	font-size: 1em; /* используем безопасные шрифтовые CSS стеки */
	min-height:100%;
}

h1, h2, h3, h4, h5, h6{
	font-weight:normal;
}
img{
	max-width:100%;
}
.clr{
	clear:both;
}
.clearfix:after {
    clear: both;
    content: "";
    display: table;
}
/* --------------- /базовые настройки ---------*/
.center-block-main {
    max-width: 1200px;
    margin: 0 auto;
}
.container {
    background-color: #fff;
    height: 100vh;
    width: 100%;
    font-family: sans-serif;
}
header {
    background-color: rgba(107, 46, 46, 0.8);
    position: relative;
}
nav ul {
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.links {
    display: block;
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    border-bottom: 5px solid transparent;
    padding: 38px 20px;
    margin: 0 5px;
}
.links:hover {
    border-bottom: 5px solid green;
}
.links_active {
    color: gold;
}

.index {
    width: 100%;
    height: calc(100vh - 100px);
    background-color: #996666;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 50px;
    box-sizing: border-box;
}
.index__name {
    text-align: center;
}
.index__name h1 {
    font-size: 65px;
    font-weight: bold;
    text-transform: uppercase;
    border-top: 3px solid rgba(255, 255, 255, 0.8);
    border-bottom: 3px solid rgba(255, 255, 255, 0.8);
    padding-top: 10px;
    padding-bottom: 10px;
    text-shadow: 0px -1px 0px #000,
                 0px 1px 0px #fff,
                 0px 0px 10px rgba(255, 255, 255, 0.8);
}
.index__name p {
    margin-top: 10px;
    font-size: 20px;
}


.portfolio {
    
}

.portfolio h2 {
    font-family: fantasy;
    text-align: center;
    font-size: 5em;
}

.portfolio h3 {
    font-size: 3em;
    text-align: center;
}

.portfolio__content {
    display: flex;
    justify-content: space-between;
}
.portfolio__block {
    padding: 5%;
    margin-top: 10em;
}
.portfolio img {
    display: block;
    margin: 0 auto;
}
.portfolio__block h2 {
    font-size: 2em;
}

.portfolio__block p {
    text-align: center;
}



.company h2 {
    font-size: 40px;
    text-align: center;
    padding: 80px 0;
}
.company h3 {
    font-size: 24px;
    text-align: center;
    margin-bottom: 3em;
}
.company__content {
    display: flex;
    justify-content: space-between;
}
.company__dev {
    width: 48%;
    border: 4px solid #9b9b9b;
    border-radius: 20px;
}
.company__dev img {
    padding-top: 3%;
    display: block;
    margin: 0 auto;
}
.company__dev h2 {
    font-size: 30px;
    padding: 20px 0;
}
.company__dev h3 {
    background-color: #008000;
    font-size: 1em;
    width: 200px;
    margin: 0 auto;
    padding: 10px;
    color: #fff;
    border-radius: 5px;
}
.company__dev p {
    padding: 15px;
}



.support {
    width: 500px;
    margin: 50px auto;
    background: linear-gradient(45deg, rgba(100, 50, 50, 0.8), rgba(150, 100, 100, 0.8));
    border-radius: 5px;
}
.support h2 {
    text-align: center;
    padding: 20px;
    font-size: 30px;
    font-family: sans-serif;
    color: #fff;
    text-transform: uppercase;
}
.support__block {
    padding: 20px;
}
.support__input {
    width: 100%;
    background: rgba(0, 0, 0, 0);
    color: #000;
    border: 1px solid rgba(255, 255, 255, 0.8);
    box-sizing: border-box;
    padding: 5px 10px;
    margin-bottom: 10px;
    border-radius: 5px;
}
.support__textarea {
    width: 100%;
    height: 200px;
    background: rgba(0, 0, 0, 0);
    color: #000;
    border: 1px solid rgba(255, 255, 255, 0.8);
    padding: 5px 10px;
    border-radius: 5px;
    font-family: sans-serif;
    box-sizing: border-box;
    resize: none;
    font-size: 13px;
}
.support__btn {
    display: block;
    text-decoration: none;
    background-color: #cc334d;
    color: #fff;
    padding: 15px;
    margin: 30px 0 15px;
    text-align: center;
    width: 100%;
    font-size: 15px;
    font-weight: bold;
}
.support__btn:hover {
    background-color: #a3293d;
    cursor: pointer;
}